{% extends 'base.html' %}

{% block content %}
    <div class="video-div" >

        <div class="video-info container" >
 
            <h1>Video Learning </h1>
            <p> In this section, you can watch a variety of videos regarding cybersecurity and different cyber-attacks that have not been previosuly mentioned in the learning content. Enjoy!
            </p>

            <iframe width="720" height="415"
            src="https://www.youtube.com/embed/rb26NK0jtHM">

        </iframe>
        <hr class="border-line">
        <iframe width="720" height="415"
        src="https://www.youtube.com/embed/Yqu93GXx0vI">

    </iframe>
        </iframe>
        <hr class="border-line">
        <iframe width="720" height="415"
        src="https://www.youtube.com/embed/OWLGUgiz_eE">
    </iframe>

    </iframe>
    <hr class="border-line">
    <iframe width="720" height="415"
    src="https://www.youtube.com/embed/uLo_kI1gcBc">

    </iframe>
    <hr class="border-line">
    <iframe width="720" height="415"
    src="https://www.youtube.com/embed/88-FENio9Yw">
            
        </div>
    </div>
{% endblock %}